body {
  background:lightgray;
}
h3 {
  color:red;
  font-family:Lucida Console;
  font-size:24px;
}
h2 {
  color:black;
  font-family:Lucida Console;
  text-align:center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-decoration:underline;
  font-size:36px;
}
.header p {
  font-weight:bold;
  font:Lucida Typewriter;
}
header {
  text-align:center;
}
